<mat-card>
    <form (ngSubmit)="onSubmit(amount.value, baseCurrency.value, newCurrency.value)" #form="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Amount" #amount>
      </mat-form-field>
      <p>
        <mat-form-field>
          <mat-select placeholder="Original Currency" #baseCurrency>
            <mat-option *ngFor="let currency of currencies" [value]="currency[0]">
              {{currency[0]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      
      <p>
        <mat-form-field>
          <mat-select placeholder="New Currency" #newCurrency>
            <mat-option *ngFor="let currency of currencies" [value]="currency[0]">
              {{currency[0]}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      
      <input type="submit">
    </form>
    <h4 *ngIf="!!result">{{bAmount | currency:bCurr}} is equal to {{nAmount | currency:nCurr}}.</h4>
</mat-card>
